header {
    flex-wrap: wrap;
    overflow: visible;
}

.burger-menu {
    display: none;
}

header .logo {
    flex: 0 0 250px;
}

header .logo img {
    width: 250px;
    height: 72px;
}

header .menu {
    flex: 1 0 800px;
    display: flex;
    position: static;
    background-color: transparent;
    justify-content: flex-end;
}

.menu ul {
    display: flex;
    background-color: #880e4f;
    border-radius: 10px;
    color: white;
    margin: 10px 0 0 0;
    padding: 0;
}

.menu li {
    margin: 0;
    flex: 0 0 auto;
    padding: 15px 15px;
    min-width: auto;
    height: 50px;
    text-align: center;
    cursor: pointer;
    border: none;
    position: relative;
}

.menu li.active {
    background: linear-gradient( #880e4f, #D81B60);
    background: -moz-linear-gradient( #880e4f, #D81B60);
    background: -webkit-linear-gradient( #880e4f, #D81B60);
    background: -o-linear-gradient( #880e4f, #D81B60);
    background: -ms-linear-gradient( #880e4f, #D81B60);
}

.menu .fa-bars {
    display: none;
}

.menu li:hover {
    background: #ff80ab !important;
    color: #880e4f;
}

.menu li:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #ff80ab;
    width: 150px;
    height: 100px;
    right: 0;
    top: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sub-menu .sub-menu-item {
    padding: 15px 10px;
}

.sub-menu .sub-menu-item:hover {
    font-weight: bold;
}

.sub-menu .sub-menu-item.active {
    background-color: #880e4f;
    color: white;
}

.has-sub-menu .fa {
    position: static;
}

aside.home h5 {
    margin: 0 0 10px 0;
    padding-top: 0;
}

.carousel-inner img {
    width: 49%;
    display: none;
}

.carousel-inner img.active {
    display: inline;
}

aside.nav {
    display: flex;
}

aside.nav h5 {
    border-bottom: 2px solid #880e4f;
}

aside.nav aside {
    flex: 1 0 33.33%;
    padding: 0 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 30px;
    text-align: left;
}

.foo {
    display: flex;
}

.foo aside,
.foo .list-inline {
    flex: 1 0 50%;
    align-self: center;
}

.foo .list-inline {
    text-align: right;
}

.cont {
    display: flex;
}

.cont aside {
    flex: 1 0 50%;
}

.cont .article-list-group {
    padding: 10px 0 20px 30px;
}

.gallery {
    display: flex;
}

.gallery div {
    flex: 1 0 50%;
}

#gallery1Sec span,
#gallery2Sec span {
    position: absolute;
    right: 20px;
    top: 100px;
    font-size: 35px;
    font-weight: 700;
}

#aboutUsSec #mission {
    display: inline-block!important;
}

.tab-content.sm {
    display: none!important;
}